{% block _galerie_images_widget %}
    {{ form_widget(form) }}
{% endblock %}

{% block _galerie_images_entry_row %}
    {{ form_widget(form) }} 
{% endblock %}

{% block _galerie_images_entry_widget %}
    {% if form.vars.name == 0 %}<div class="grid-sizer"></div>{% endif %}
    {% if form.vars.value.tableau.width is not null %}
        {% if form.vars.value.tableau.width in range(600, 799) %}
            <div class="grid-item grid-item--width2" id="block_{{id}}">
        {% elseif form.vars.value.tableau.width >= 800 %}
            <div class="grid-item grid-item--width3" id="block_{{id}}">
        {% else %}
            <div class="grid-item" id="block_{{id}}">   
        {% endif %}
    {% else %}
        <div class="grid-item" id="block_{{id}}">
    {% endif %}
        <div>
            <i data-action="config" data-target="#block_{{id}}" class="fas fa-cog"></i>
            <i data-action="delete" data-target="#block_{{id}}" class="far fa-trash-alt"></i>
            {% if 'picsum' in form.vars.value.url %} {# à virer une fois en prod #}
                <a href="{{ form.vars.value.url }}" data-fancybox="images" data-caption="{{ form.caption.vars.value }}">
                    <img src="{{form.vars.value.url}}" alt="">
                </a>
            {% else %}
                <a href="{{ galerie_content_path ~ form.vars.value.url }}" data-fancybox="images" data-caption="{{ form.caption.vars.value }}">
                    <img src="{{ form.vars.value.url | imagine_filter('galerie_content_edit') }}" alt="">
                </a>
            {% endif %}
        </div>
        <div class="config-img config-img-close">
            <i class="fas fa-pencil-alt"></i>
            {{ form_row(form.ordre) }}
            {{ form_row(form.tableau.title) }}
            {{ form_row(form.caption , {'value' : form.vars.value.caption, 'spellcheck' : 'false', 'attr' : {'class' : 'captionImg'}}) }}
            {{ form_row(form.tableau.technique) }}
            {{ form_row(form.tableau, { 'attr': {'class' : 'd-flex'} }) }}
            {{ form_row(form.statut_remove, {'attr': {'class' : 'imgStatutRemove', 'value' : '0-' ~ form.vars.value.id } })}}
        </div>
    </div>
{% endblock %}