{% extends 'admin/base.html.twig' %}

{% block title %}Administration des galeries d'images | {{ site_nom }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Corbeille des galeries</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center align-middle">Image de couverture</th>
                    <th class="text-center align-middle">Titre de la galerie</th>
                    <th class="text-center align-middle">Description</th>
                    <th class="text-center align-middle"><button class="btn btn-outline-primary btnEmptyTrash" title="Vider la corbeille" style="width: 44px;"><i class="fas fa-dumpster-fire"></i></button></th>
                    <th class="text-center align-middle"><a href="{{ path('admin_galerie_index') }}" class="btn btn-outline-primary" style="width: 44px" title="Retourner à l'index"><i class="fas fa-reply"></i></a></th>
                </tr>
            </thead>
            <tbody>
                {% for galerie in galeries %}
                    <tr data-id='{{ galerie.id }}'>
                    {% if 'picsum' in galerie.coverImage %} {# à virer une fois en prod #}
                        <td onclick="document.location = '{{ path('admin_galerie_edit',{'id': galerie.id }) }}';" class="text-center align-middle">
                            <img style="max-width:300px;height:auto;" src="{{galerie.coverImage}}" alt="">
                        </td>
                    {% else %}
                        <td onclick="document.location = '{{ path('admin_galerie_edit',{'id': galerie.id }) }}';" class="text-center align-middle">
                            <img src="{{ galerie.coverImage | imagine_filter('galerie_cover_index_thumb')}}" alt="">
                        </td>
                    {% endif %}
                        <td onclick="document.location = '{{ path('admin_galerie_edit',{'id': galerie.id }) }}';" class="align-middle text-center">{{galerie.title}}</td>
                        <td onclick="document.location = '{{ path('admin_galerie_edit',{'id': galerie.id }) }}';" class="align-middle text-center">{{galerie.description}}</td>
                        <td class="align-middle text-center">
                            <button data-id='{{ galerie.id }}' data-title='{{ galerie.title }}' class="btn btn-outline-primary btnDelete" title="Supprimer définitivement" style="width: 44px;"><i class="fas fa-fire-alt"></i></button>
                        </td>
                        <td class="align-middle text-center">
                            <button data-id='{{ galerie.id }}' data-title='{{ galerie.title }}' class="btn btn-outline-primary btnRestore" title="Restaurer" style="width: 44px;"><i class="fas fa-trash-restore"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>   
        <div class="text-center">
            {{ knp_pagination_render(galeries) }}
        </div>  
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/bootbox.min.js"></script>
    <script>
    
        $('.btnDelete').click(function(e) {
            var id = $(this).data('id');
            bootbox.dialog({
                size: 'lg',
                message: "Êtes-vous sûr de vouloir supprimer cette galerie définitivement ?",
                buttons: {
                    annuler: {
                        label: 'Annuler',
                        className: 'btn-danger',
                    },
                    valider: {
                        label: 'Valider',
                        className: 'btn-success',
                        callback: function(result){
                            if (result) {
                                window.location = '/admin/galerie/'+id+'/delete';
                            }
                        }
                    }
                }
            });
        });

        $('.btnRestore').click(function(e) {
            var id = $(this).data('id');
            bootbox.dialog({
                size: 'lg',
                message: "Êtes-vous sûr de vouloir restaurer cette galerie ? Un contenu restauré est automatiquement en statut dépublié, pensez à le republier si nécessaire.",
                buttons: {
                    annuler: {
                        label: 'Annuler',
                        className: 'btn-danger',
                    },
                    valider: {
                        label: 'Valider',
                        className: 'btn-success',
                        callback: function(result){
                            if (result) {
                                window.location = '/admin/galerie/'+id+'/restore';
                            }
                        }
                    }
                }
            });
        });

        $('.btnEmptyTrash').click(function(e) {
            bootbox.dialog({
                size: 'lg',
                message: "Êtes-vous sûr de vouloir vider la corbeille ? Vous allez supprimer tout son contenu définitivement !",
                buttons: {
                    annuler: {
                        label: 'Annuler',
                        className: 'btn-danger',
                    },
                    valider: {
                        label: 'Valider',
                        className: 'btn-success',
                        callback: function(result){
                            if (result) {
                                window.location = '/admin/galerie/trash/empty';
                            }
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}